<br>
<br>
<br>
<br>
<div class="container">
    <div class="card shadow mb-2">
     <div class="card-body">
     <h1 style="text-align:center;">Accès Denied</h1><br>
     <div class="container mt-5">
     <div class="row justify-content-md-center">
     <div class="col-md-6">
     <div class="alert alert-danger" style="text-align:center;">
    <strong>Cannot access this page !</strong>
     </div>
     <div style="text-align:center;">
<img src="../../assets/Img/nobike.jpg" alt="int" width="31.56%">     </div>
     </div>
     </div>
     </div>
     </div>
    </div>
    </div>