<br>
<br>
<br>
    <section class="bike-listing-form">
        <h2>List Your Bike for Sale</h2>
        <form>
            <label for="bike_name">Bike Name:</label>
            <input [(ngModel)]="newBike.Name" type="text" id="bike_name" name="bike_name" required>

            <label for="img">Bike Image:</label>
            <input type="file" name="Image" id="img" [(ngModel)]="newBike.Picture_File_Name" required>

            <label for="description">Description:</label>
            <textarea [(ngModel)]="newBike.Description" id="description" name="description" rows="4" required></textarea>

            <label for="price">Price:</label>
            <input [(ngModel)]="newBike.Price" type="text" id="price" name="price" required>

            <label for="bike_type">Bike Type:</label>
            <select name="Type" id="bike_type" [(ngModel)]="newBike.Type"  required>
                <option value="" selected disabled>Choose Type :</option>
                <option value="Dirt Bike">Dirt Bike</option>
                <option value="Sport Bike">Sport Bike</option>
                <option value="HyperSport Bike">HyperSport Bike</option>
                <option value="Adventure Bike">Adventure Bike</option>
                <option value="Sports Touring Bike">Sports Touring Bike</option>
                <option value="Track Bike">Track Bike</option>
                <option value="Naked Bike">Naked Bike</option>

              </select>
            
            <label for="year">Manufacturing Year:</label>
            <input [(ngModel)]="newBike.Year" type="number" id="year" name="year" required>

            <label for="location">Brand:</label>
            <input [(ngModel)]="newBike.Brand" type="text" id="location" name="location" required>
            <br>
            <br>
            <button (click)="ajouterBike()" type="submit" >Submit Listing</button>
        </form>
    </section>

    <br>
    <br>