<br>
<br>
<br>
<div class="container">
    <div class="header">
        <h1>Dashboard</h1>
    </div>
    <div class="mini-metrics">
        <div class="mini-metric">
            <div class="metric-number">{{Sold}}</div>
            <div class="metric-label">Bikes Sold</div>
            <br>
            <div class="metric-number">{{SoldA}}</div>
            <div class="metric-label">Accessories Sold</div>
        </div>
        <div class="mini-metric">
            <div class="metric-number">{{Availabe}}</div>
            <div class="metric-label">Bikes Available</div>
            <br>
            <div class="metric-number">{{AvailabeA}}</div>
            <div class="metric-label">Accessories Available</div>
        </div>
        <div class="mini-metric">
            <br>
            <br>
            <div class="metric-number">{{Users.length}}</div>
            <div class="metric-label">Users</div>
        </div>
        <div class="mini-metric">
            <br>
            <br>
            <div class="metric-number">${{total}}</div>
            <div class="metric-label">Total Sales</div>
        </div>
        
    </div>
    <div>
        <hr>
        <div style="display: flex;align-items: center;">
            <Label for="x" class="col-2">Search By Date :</Label>
            <input type="date" name="Date" id="x" [(ngModel)]="Date" (change)="LogDate()" class="form-control col-5" style="width: 83%;">
        </div>
    </div>
    <div class="tables">
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Bike/Accessory</th>
                    <th>Customer Name</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orders">
                    <td>{{item.OrderNumber}}</td>
                    <td>{{item.wich}}</td>
                    <td>{{getName(item.UserId)}}</td>
                    <td>{{getProductName(item.ProductID,item.wich)}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.DateOfOrder}}</td>
                </tr>
                <!-- More rows can be added here -->
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Total Sales</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of salesByMonth">
                    <td>{{item.month}}</td>
                    <td>${{item.sales}}</td>
                </tr>
                <!-- More rows can be added here -->
            </tbody>
        </table>
    </div>
</div>
