/* Dashboard container */
.dashboard {
    padding: 20px;
  }
  
  /* Dashboard title */
  .dashboard-title {
    text-align: center;
    color: white;
  }
  
  /* Grid container */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  /* Grid item */
  .grid-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
  }
  
  /* Grid item icons */
  .grid-icon {
    height: 50px;
    width: 50px;
    margin: 0 20px;
  }
  
  /* Grid item content */
  .grid-content {
    flex: 1;
  }
  
  /* Grid item categories */
  .grid-category {
    margin: 0;
    font-size: 1.2rem;
    color: white;
  }
  
  /* Grid item values */
  .grid-value {
    margin: 0;
    font-size: 2rem;
    color: white;
    margin-top: 5px;
  }
  
  /* Red background for Bikes */
  .bg-danger {
    background-color: #ff4136;
  }
  
  /* Orange background for Utilisateurs */
  .bg-warning {
    background-color: #ff851b;
  }
  
  /* Green background for Average bike pricing */
  .bg-success {
    background-color: #2ecc40;
  }
  