<div class="dashboard">
    <h1 class="dashboard-title">Dashboard</h1>
  
    <div class="grid-container">
      <div class="grid-item bg-danger">
        <img src="../../assets/Img/bike.jpg" alt="Bike" class="grid-icon">
        <div class="grid-content">
          <p class="grid-category">Bikes</p>
          <h4 class="grid-value">{{ nbBikes }}</h4>
        </div>
      </div>
  
      <div class="grid-item bg-warning">
        <img src="../../assets/Img/user.png" alt="User" class="grid-icon">
        <div class="grid-content">
          <p class="grid-category">Utilisateurs</p>
          <h4 class="grid-value">{{ nbUsers}}</h4>
        </div>
      </div>
  
      <div class="grid-item bg-success">
        <img src="../../assets/Img/bike.jpg" alt="Avg" class="grid-icon">
        <div class="grid-content">
          <p class="grid-category">Average bike pricing</p>
          <h4 class="grid-value" style="color: white;">${{ AVGprice }}</h4>
        </div>
      </div>
    </div>
  </div>
  