
form
{
    display: flex;
    justify-content: center;
}
/* Styles for Bike Details */
.bike-details {
    position: relative;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    width: 60%;
    height: auto;
    background-color: #ddd;
  }
  
  .bike-image {
    mix-blend-mode: color-burn;
    max-width: 50%;
    margin-bottom: 15px;
  }
  
    
    #passwordInput {
        padding-right: 30px;
    }
    
    .toggle-btn {
        position: absolute;
        top: 46%;
        right: 24px;
        transform: translateY(-50%);
        border: none;
        background: none;
        cursor: pointer;
    }
    
.details-button {
  background-color: #f00; /* Adjust as needed */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px; /* Adjust spacing between buttons as needed */
  cursor: pointer;
}
.Detail-img{
  width: 60%;
    margin-left: 100px;
}